@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  letter-spacing: 0.2px;
  line-height: 1.6; }

.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.toolbar-horizontal header {
  top: 80px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.layout-content .region-content {
  display: none;
}

.view-empty {
  display: none;
}

.feed-icons {
  display: none;
}

.slick-slide img {
  display: initial;
}

.slick-track {
  margin-left: initial;
  margin-right: initial;
}

.slick-arrow {
  cursor: pointer;
  font-size: 0;
  left: -65px;
  top: 50%;
  position: absolute;
  text-indent: -999px;
  overflow: unset;
  z-index: 9;
  width: 44px;
  height: 44px;
  background: rgba(0, 55, 95, 0.2) url(../images/left-arrow.svg) no-repeat center center;
  background-size: 18px;
  transition: transform 0.3s;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  border-radius: 50%;
}
@media only screen and (max-width: 1199px) {
  .slick-arrow {
    display: none !important;
  }
}
.slick-arrow.slick-next {
  background-image: url(../images/right-arrow.svg);
  left: auto;
  right: -65px;
}
.slick-arrow:hover {
  opacity: 0.8;
}
.slick-arrow.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .slick-dots {
    margin: 25px 0 0 0;
  }
}
.slick-dots button {
  width: 24px;
  height: 4px;
  text-indent: -999px;
  overflow: hidden;
  background: #00A0A0;
  border: none;
  margin: 5px;
  cursor: pointer;
  opacity: 0.3;
}
.slick-dots .slick-active button {
  background: #00A0A0;
  opacity: 1;
}

#front-main-content {
  min-height: 550px;
}

h4, h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #2c2c2c;
}
@media only screen and (max-width: 767px) {
  h4, h5 {
    font-size: 20px;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 600;
  color: #2c2c2c;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 22px;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #2c2c2c;
  padding-bottom: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #2c2c2c; }

a {
  text-decoration: none;
  color: #221E20; }
  a:hover {
    color: #116466;
    text-decoration: underline; }

.button {
  padding: 12px 30px;
  background-color: #116466;
  border: 1px solid #116466;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  -webkit-appearance: none;
  appearance: none; }
  @media only screen and (max-width: 767px) {
    .button {
      padding: 10px 18px; } }
  .button.small {
    padding: 5px 10px;
    font-size: 14px;
  }
.button:hover {
  background-color: #26999b;
  color: #fff;
}
.button:focus {
  background-color: #116466;
  color: #fff;
}
.button.border {
  background: #fff;
  border: 1px solid #116466;
  color: #2C2C2C;
}
.button.border:hover {
  border-color: #116466;
  background-color: #116466;
  color: #fff;
}
.button.border:focus {
  background-color: #1b6c6d;
  border-color: #1b6c6d;
  color: #2C2C2C;
}

.messages--status {
  max-width: 1270px;
  margin: 0 auto;
}

table {
  width: 100%;
  min-width: 800px;
  border-spacing: 0;
  border-collapse: separate;
  padding: 40px 0 25px 0;
}
@media only screen and (min-width: 768px) {
  table {
    min-width: unset;
  }
}
table tr {
  font: 500 14px/21px "Poppins", sans-serif;
  color: #221E20;
  border: none;
}
table tr th {
  font: 700 14px/21px "Poppins", sans-serif;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background-color: #116466;
  border-right: 1px solid #EDEDED;
}
table tr td {
  padding: 10px 20px;
  background-color: #fff;
  text-align: left;
  border-left: 1px solid #E5E6F0;
  border-right: 1px solid #E5E6F0;
  border-bottom: 1px solid #E5E6F0;
}
table tr td a {
  text-decoration: none;
  color: #221E20;
}
table tr td a:hover {
  color: #116466;
  text-decoration: underline;
}

.pager__items {
  padding-bottom: 20px; }
  .pager__items .pager__item {
    color: #116466;
    padding: 0.25em; }
    .pager__items .pager__item a {
      color: #116466;
      text-decoration: none; }

.header {
  background-color: #116466;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10; }
  .header .header-inner {
    padding: 10px 0; }
    .header .header-inner .region-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .header .header-inner .region-header .site-logo img {
        max-width: 110px;
        width: 110px; }
      .header .header-inner .region-header .site-name {
        display: none; }
      .header .header-inner .region-header .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 0 20px 100px;
        margin: 0; }
        @media only screen and (max-width: 767px) {
          .header .header-inner .region-header .menu {
            display: block; } }
        .header .header-inner .region-header .menu > .menu-item {
          padding: 0;
          margin-right: 34px; }
          .header .header-inner .region-header .menu > .menu-item:last-child {
            padding-right: 0; }
          .header .header-inner .region-header .menu > .menu-item a {
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            text-decoration: none; }
            .header .header-inner .region-header .menu > .menu-item a:hover {
              color: #D1E8E2; }
    .header .header-inner nav#block-school-main-menu .menu .menu-item--expanded ul {
      display: none; }
    .header .header-inner nav#block-school-main-menu .menu .menu-item--expanded {
      position: relative; }
    .header .header-inner nav#block-school-main-menu .menu .menu-item--expanded:hover ul.menu {
      position: absolute;
      display: block;
      background-color: #707070;
      width: max-content;
      padding: 0; }
    .header .header-inner nav#block-school-main-menu .menu .menu-item--expanded ul.menu li {
      margin-right: 0;
      margin: 20px; }

.banner img {
  width: 100%;
}

.about-school-outer {
  padding-top: 60px;
}
@media only screen and (max-width: 767px) {
  .about-school-outer {
    padding-top: 30px;
  }
}
.about-school-outer h2 {
  text-align: center;
}
.about-school-outer .about-sec {
  display: flex;
  flex-wrap: wrap;
}
.about-school-outer .about-sec .about-img {
  padding-right: 30px;
}
@media only screen and (max-width: 767px) {
  .about-school-outer .about-sec .about-img {
    width: 100%;
    padding: 0;
  }
}
.about-school-outer .about-sec .about-img img {
  width: 100%;
}
.about-school-outer .about-sec .about-text {
  font: 14px/24px "Poppins", sans-serif;
  flex: 1;
  color: #4D4D4F;
}
@media only screen and (max-width: 767px) {
  .about-school-outer .about-sec .about-text {
    width: 100%;
    padding: 15px 0 0 0;
  }
}

.smarty-programs-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .smarty-programs-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.smarty-programs-section h2 {
  text-align: center;
}
.smarty-programs-section .smarty-programs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.smarty-programs-section .smarty-programs li {
  width: calc(25% - 20px);
  margin: 0 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 55, 95, 0.1019607843);
  border-radius: 14px;
  transition: all 0.2s ease-in;
  transform: translateY(0);
}
.smarty-programs-section .smarty-programs li a {
  text-decoration: none;
}
.smarty-programs-section .smarty-programs li:hover {
  transform: translateY(-6px);
}
@media only screen and (max-width: 1023px) {
  .smarty-programs-section .smarty-programs li {
    width: calc(50% - 20px);
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .smarty-programs-section .smarty-programs li {
    width: 100%;
    margin-bottom: 25px;
  }
}
.smarty-programs-section .smarty-programs li .smarty-sec {
  padding: 20px 25px;
}
.smarty-programs-section .smarty-programs li .smarty-sec .smarty-img {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.smarty-programs-section .smarty-programs li .smarty-sec .smarty-bottom {
  text-align: center;
}
.smarty-programs-section .smarty-programs li .smarty-sec .smarty-bottom span {
  font: 500 18px/24px "Poppins", sans-serif;
  color: #2c2c2c;
  margin-bottom: 5px;
  display: block;
}
.smarty-programs-section .smarty-programs li .smarty-sec .smarty-bottom p {
  font: 14px/18px "Poppins", sans-serif;
  color: #4D4D4F;
}

.testimonial-outer {
  background: #D1E8E2;
  padding-top: 60px;
  padding-bottom: 60px;
}
.testimonial-outer .testimonials-list {
  margin: -20px -12px;
}
@media only screen and (max-width: 767px) {
  .testimonial-outer .testimonials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    margin: -10px;
    padding: 10px;
    width: calc(100% + 25px);
  }
}
.testimonial-outer .testimonials-list li {
  max-width: 400px;
}
@media only screen and (max-width: 767px) {
  .testimonial-outer .testimonials-list li {
    min-width: 90% !important;
    width: 90% !important;
    margin-right: 16px;
  }
}
.testimonial-outer .testimonials-list .slick-slide {
  padding: 20px 12px;
  height: auto;
}
.testimonial-outer .testimonials-list .slick-slide > div,
.testimonial-outer .testimonials-list .slick-slide li {
  height: 100%;
}
.testimonial-outer .testimonials-list .slick-track {
  display: flex;
}
.testimonial-outer .testimonials-list .slick-prev {
  left: -50px;
}
.testimonial-outer .testimonials-list .slick-next {
  right: -50px;
}

.testimonial-inner h2 {
  text-align: center;
}
.testimonial-inner .testimonials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media only screen and (max-width: 767px) {
  .testimonial-inner .testimonials-list {
    flex-wrap: nowrap;
  }
}
.testimonial-inner .testimonials-list li {
  width: calc(33.33% - 20px);
  margin: 0 10px;
  background: #FFFFFF;
  border-radius: 20px;
}
.testimonial-inner .testimonials-list li .testimonial-sec {
  padding: 30px;
}
.testimonial-inner .testimonials-list li .testimonial-sec .parent-img {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.testimonial-inner .testimonials-list li .testimonial-sec .parent-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3e4c66;
  padding: 5px;
}
.testimonial-inner .testimonials-list li .testimonial-sec .parent-bottom {
  text-align: center;
}
.testimonial-inner .testimonials-list li .testimonial-sec .parent-bottom .parent-name {
  color: #2c2c2c;
  font: 500 20px/24px "Poppins", sans-serif;
  padding-bottom: 10px;
}
.testimonial-inner .testimonials-list li .testimonial-sec .parent-bottom p {
  font: 14px/18px "Poppins", sans-serif;
  color: #4D4D4F;
}

.facilities-outer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .facilities-outer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.facilities-outer h2 {
  text-align: center;
}
.facilities-outer .facilities-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media only screen and (max-width: 767px) {
  .facilities-outer .facilities-list {
    display: block;
  }
}
.facilities-outer .facilities-list li {
  width: calc(33.33% - 30px);
  margin: 15px;
  background-color: #116466;
  transition: all 0.3s ease-in;
  transform: translateY(0);
}
@media only screen and (max-width: 767px) {
  .facilities-outer .facilities-list li {
    width: calc(100% - 30px);
  }
}
.facilities-outer .facilities-list li:hover {
  transform: translateY(-4px);
}
.facilities-outer .facilities-list li .facility-img img {
  width: 100%;
}
.facilities-outer .facilities-list li .facilities-bottom {
  padding: 20px;
}
.facilities-outer .facilities-list li .facilities-bottom h3 {
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
}
.facilities-outer .facilities-list li .facilities-bottom p {
  font: 14px/18px "Poppins", sans-serif;
  color: #fff;
  padding-bottom: 10px;
}

.footer {
  padding: 50px 0;
  box-shadow: 0px -11px 20px -20px;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}
.footer .footer-section {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .footer .footer-section {
    display: flex;
    justify-content: space-between; }
  }
    @media only screen and (max-width: 767px) {
      .footer .footer-section {
        display: block; } }
    .footer .footer-section .left {
      width: 33.33%;
      padding-right: 35px; }
      @media only screen and (max-width: 767px) {
        .footer .footer-section .left {
          width: 100%;
          padding-right: 0;
          padding-bottom: 20px; } }
      .footer .footer-section .left .region-footer-first h2 {
        font-size: 20px;
        padding-bottom: 10px;
        color: #084050; }
      .footer .footer-section .left .region-footer-first .menu {
        margin-left: 0; }
        .footer .footer-section .left .region-footer-first .menu .menu-item {
          padding-bottom: 14px; }
          .footer .footer-section .left .region-footer-first .menu .menu-item:last-child {
            padding-bottom: 0; }
          .footer .footer-section .left .region-footer-first .menu .menu-item a {
            font-size: 14px;
            color: #116466;
            line-height: 1.4;
            display: inline-flex;
            transition: all .3s ease-in;
            transform: translateX(0);
            text-decoration: none; }
            .footer .footer-section .left .region-footer-first .menu .menu-item a:hover {
              transform: translateX(5px); }
    .footer .footer-section .middle {
      width: 33.33%;
      padding-right: 35px; }
      @media only screen and (max-width: 767px) {
        .footer .footer-section .middle {
          width: 100%;
          padding-right: 0;
          padding-bottom: 20px; } }
      .footer .footer-section .middle h2 {
        font-size: 20px;
        padding-bottom: 10px;
        color: #084050; }
      .footer .footer-section .middle .social-footer {
        display: flex;
        align-items: center; }
        .footer .footer-section .middle .social-footer .fb {
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px; }
          .footer .footer-section .middle .social-footer .fb:hover {
            background-color: #3b5999; }
        .footer .footer-section .middle .social-footer .insta {
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px; }
          .footer .footer-section .middle .social-footer .insta a img {
            max-width: 16px;
            max-height: 16px; }
          .footer .footer-section .middle .social-footer .insta:hover {
            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
        .footer .footer-section .middle .social-footer .twitter {
          background-color: black;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          padding: 11px; }
          .footer .footer-section .middle .social-footer .twitter a img {
            max-width: 16px;
            max-height: 16px; }
          .footer .footer-section .middle .social-footer .twitter:hover {
            background-color: #55acee; }
    .footer .footer-section .right {
      width: 33.33%; }
      @media only screen and (max-width: 767px) {
        .footer .footer-section .right {
          width: 100%; } }
      .footer .footer-section .right .region-footer-second h2 {
        font-size: 20px;
        padding-bottom: 10px;
        color: #084050; }
      .footer .footer-section .right .region-footer-second p {
        font-size: 14px;
        color: #116466; }

.faq-outer {
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .faq-outer {
    padding-bottom: 30px;
  }
}

.faq-sec > li {
  position: relative;
  margin-bottom: 16px;
  margin-left: 0;
}
.faq-sec > li .faq-title {
  font-size: 16px;
  background-color: #D1E8E2;
  color: #000;
  padding: 18px 15px;
  padding-right: 40px;
  display: block;
  position: relative;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
}
.faq-sec > li .faq-title.scroll-margin-top {
  scroll-margin-top: 190px;
}
@media only screen and (max-width: 767px) {
  .faq-sec > li .faq-title.scroll-margin-top {
    scroll-margin-top: 100px;
  }
}
.faq-sec > li .faq-title:hover {
  background-color: #D1E8E2;
  color: #116466;
}
.faq-sec > li .faq-title:after, .faq-sec > li .faq-title:before {
  content: "";
  position: absolute;
  right: 0;
  font-size: 10px;
  background: #2C2C2C;
  width: 14px;
  height: 2px;
  top: 50%;
  margin: -1px 18px 0 0;
}
.faq-sec > li .faq-title::after {
  transform: rotate(90deg);
}
.faq-sec > li .faq-title.active {
  background-color: #D1E8E2;
  color: #116466;
  font-weight: 700;
}
.faq-sec > li .faq-title.active::after {
  display: none;
}
.faq-sec > li .faq-content {
  background-color: #F8F8F8;
  padding: 15px;
  margin: 8px 0 0 0;
  border-radius: 4px;
  display: none;
}
.faq-sec > li .faq-content p {
  font-size: 16px;
  color: #4D4D4F;
}

form {
  max-width: 690px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 46px rgba(0, 0, 0, 0.168627451);
  padding: 40px;
  margin: 40px auto 60px auto; }
  @media only screen and (max-width: 767px) {
    form {
      padding: 20px;
      max-width: 300px;
      margin: 30px auto 60px auto; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    form {
      padding: 20px;
      margin: 30px auto 60px auto; } }

  form .js-form-item {
    display: flex;
    flex-direction: column; }
    form .js-form-item label {
      margin-bottom: 10px;
      color: #116466;
      font-weight: 900; }
    form .js-form-item .js-text-full {
      max-width: 600px;
      padding: 10px; }
  form .field--name-field-name-, form .field--name-field-phone-number, form .field--name-field-email {
    max-width: 337px;
    width: 100%; }
  form .field--name-field-query- {
    max-width: 600px;
    width: 100%; }
  form .form-actions {
    margin-top: 30px; }
  form .js-form-type-checkbox {
    display: block; }
    form .js-form-type-checkbox .form-checkbox {
      margin-right: 5px; }

.courses-outer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .courses-outer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.courses-outer h2 {
  text-align: center;
}

.facilities-bottom > p .showmore_content {
  overflow: hidden;
}
.facilities-bottom > p .showmore_trigger .more, .facilities-bottom > p .showmore_trigger .less {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  display: block;
}
.facilities-bottom > p .showmore_trigger .more:hover, .facilities-bottom > p .showmore_trigger .less:hover {
  color: #D1E8E2;
}

.flexslider {
  border: unset !important;
  overflow: hidden;
  margin: 0 !important;
}
.flexslider .flex-viewport .slides li a img {
  width: 100%;
  height: 550px;
}
@media only screen and (max-width: 1023px) {
  .flexslider .flex-viewport .slides li a img {
    height: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .flexslider .flex-viewport .slides li a img {
    height: 160px;
  }
}
.flexslider .flex-viewport .slides li p {
  display: none;
}

.side-con {
  padding: 30px 0;
}

.node__content {
  padding-top: 15px;
}
.node__content .field--type-text-with-summary {
  padding-bottom: 10px;
}
.node__content .field--label-above {
  padding-bottom: 10px;
}
.node__content .field__label {
  padding-bottom: 4px;
}

.tabs .is-active {
  color: #116466;
}
.tabs li {
  background-color: #116466;
  color: #fff;
}
.tabs li a {
  color: #fff;
}
.tabs li a:hover {
  color: #116466;
}

article.node--type-page,
article.node--type-article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }

.site-slogan {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
