@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

$font-base: 'Poppins', sans-serif;

body {
  font-family: $font-base;
  line-height: 1.2;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  letter-spacing: 0.2px;
  line-height: 1.6;
}

.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.toolbar-horizontal{
  header{
    top: 80px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.layout-content .region-content {
  display: none;
}
.view-empty {
  display: none;
}
.feed-icons {
  display: none;
}

// slick //
@mixin slick-arrow {
  cursor: pointer;
  font-size: 0;
  left: -65px;
  top: 50%;
  position: absolute;
  text-indent: -999px;
  overflow: unset;
  z-index: 9;
  width: 44px;
  height: 44px;
  background: rgba(0, 55, 95, .2) url(../images/left-arrow.svg) no-repeat center center;
  background-size: 18px;
  transition: transform .3s;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  border-radius: 50%;
  // @media only screen and (max-width: 1430px) {
  //     left: -50px;
  //     width: 40px;
  //     height: 40px;
  // }
  // @media only screen and (max-width: 1349px) {
  //     width: 35px;
  //     height: 35px;
  //     left: -15px;
  // }
  @include mquery(large){
      display: none!important;
  }
  &.slick-next{
      background-image: url(../images/right-arrow.svg);
      left: auto;
      right: -65px;
      // @media only screen and (max-width: 1430px) {
      //     right: -50px;
      // }
      // @media only screen and (max-width: 1345px) {
      //     right: -15px;
      // }
  }
  &:hover {
      opacity: 0.8;
  }
  &.slick-disabled {
      pointer-events: none;
      opacity: 0.5;
  }
}

@mixin slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  @include mquery(mobile){
      margin: 25px 0 0 0;
  }
  button{
      width: 24px;
      height: 4px;
      text-indent: -999px;
      overflow: hidden;
      background: #00A0A0;
      border: none;
      margin: 5px;
      cursor: pointer;
      opacity: .3;
  }
  .slick-active{
      button{
          background: #00A0A0;
          opacity: 1;
      }
  }
}

//breakpoint
@mixin mquery($size) {
  @if $size == xlarge {
      @media only screen and (min-width: 1400px) {
          @content;
      }
  }
  @if $size == wrap {
      @media only screen and (min-width: 1200px) {
          @content;
      }
  }
  @if $size == large {
      @media only screen and (max-width: 1199px) {
          @content;
      }
  }
  @if $size == tab {
      @media only screen and (min-width: 768px) {
          @content;
      }
  }
  @if $size == medium {
      @media only screen and (max-width: 1023px) {
          @content;
      }
  }
  @if $size == mobile {
      @media only screen and (max-width: 767px) {
          @content;
      }
  }
  @if $size == small {
      @media only screen and (max-width: 480px) {
          @content;
      }
  }
  @if $size == xsmall {
      @media only screen and (max-width: 430px) {
          @content;
      }
  }
}

//slick 
.slick-slide img {
  display: initial;
}
.slick-track{
  margin-left: initial;
  margin-right: initial;
}
.slick-arrow {
    @include slick-arrow;
}
.slick-dots{
  @include slick-dots;
}


// common start //
#front-main-content{
  min-height: 550px;
}
h4,h5{
  font-family: $font-base;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #2c2c2c;
  @include mquery(mobile){
    font-size: 20px
  }
}
h3{
  font-family: $font-base;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 600;
  color: #2c2c2c;
  @include mquery(mobile){
    font-size: 22px
  }
 }

 h2{
  font-family: $font-base;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #2c2c2c;
  padding-bottom: 20px;
 }
 h1{
  font-family: $font-base;
  font-size: 2em;
  color: #2c2c2c;
 }

 a{
  text-decoration: none;
  color: #221E20;
  &:hover{
    color: #116466;
    text-decoration: underline;
  }
}
 // Button //
 .button{
  padding: 12px 30px;
  background-color: #116466;
  border: 1px solid #116466;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: $font-base;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .5s ease-out;
  -webkit-appearance: none;
  appearance: none;
    @include mquery(mobile){
      padding: 10px 18px;

    }
  &.small{
    padding: 6px 15px;
    font-size: 14px;
    @include mquery(mobile){
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  &:hover{
    background-color: #26999b;
    color: #fff;
  }
  &:focus{
    background-color: #116466;
    color: #fff;
  }
  &.border{
    background: #fff;
    border: 1px solid #116466;
    color: #2C2C2C;
    &:hover{
      border-color: #116466;
      background-color: #116466;
      color: #fff;
    }
    &:focus{
      background-color: #1b6c6d;
      border-color: #1b6c6d;
      color: #2C2C2C;
    }
  }
}

.messages--status{
  max-width: 1270px;
  margin: 0 auto;
}

// table //
table{
  width: 100%;
  min-width: 800px;
  border-spacing: 0;
  border-collapse: separate;
  padding: 40px 0 25px 0;
  @include mquery(tab){
    min-width: unset;
  }
  tr{
    font: 500 14px/21px $font-base;
    color: #221E20;
    border: none;
    th{
      font: 700 14px/21px $font-base;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      background-color: #116466;
      border-right: 1px solid #EDEDED;
    }
    td{
      padding: 10px 20px;
      background-color: #fff;
      text-align: left;
      border-left: 1px solid #E5E6F0;
      border-right: 1px solid #E5E6F0;
      border-bottom: 1px solid #E5E6F0;
      a{
        text-decoration: none;
        color: #221E20;
        &:hover{
          color: #116466;
          text-decoration: underline;
        }
      }
    }
  }
}
.pager__items{
  padding-bottom: 20px;
.pager__item{
  color: #116466;
  padding: 0.25em;
  a{
    color: #116466;
    text-decoration: none;
  }
}
}
// common End //

// Header Section //
.header {
  background-color: #116466;
  // background: linear-gradient(109.6deg, rgb(245, 95, 152) 11.2%, rgb(254, 148, 136) 100.2%);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  .header-inner{
    padding: 10px 0;
  .region-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  .site-logo{
    img{
      max-width: 110px;
      width: 110px;
    }
  }
  .site-name{
    display: none;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 20px 100px;
    margin: 0;
    @include mquery(mobile){
      display: block;
    }
    >.menu-item {
      padding: 0;
      margin-right: 34px;
      &:last-child{
       padding-right: 0;
      }
      a {
        color: #fff;
        font-family: $font-base;
        font-size: 15px;
        text-decoration: none;
        &:hover {
          color: #D1E8E2;
        }
      }
    }
  }
 }
 nav#block-school-main-menu .menu {
  .menu-item--expanded ul {
    display: none;
  }
  .menu-item--expanded {
    position: relative;
  }
  .menu-item--expanded:hover ul.menu {
    position: absolute;
    display: block;
    background-color: #707070;
    width: max-content;
    padding: 0;
  }
  .menu-item--expanded ul.menu  li {
    margin-right: 0;
    margin: 20px;
  }
}
}
}

// banner //
.banner {
  img {
    width: 100%;
  }
}

// About school sec //
.about-school-outer{
  padding-top: 60px;
  @include mquery(mobile){
    padding-top: 30px;
  }
  h2{
    text-align: center;
  }
  .about-sec{
    display: flex;
    flex-wrap: wrap;
    // align-items: center; 
    .about-img{
        padding-right: 30px;
        @include mquery(mobile){
          width: 100%;
          padding: 0;
        }
        img{
            width: 100%;
        }
    }
    .about-text{
        font: 14px/24px $font-base;
        flex: 1;
        color: #4D4D4F;
        @include mquery(mobile){
            width: 100%;
            padding: 15px 0 0 0;
        }
    }
 }
}

// Smarty Program //
.smarty-programs-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h2 {
    text-align: center;
  }
  .smarty-programs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    li {
      a{
        text-decoration: none;
      }
      width: calc(25% - 20px);
      margin: 0 10px;
      background: #FFFFFF;
      box-shadow: 0px 0px 25px #00375f1a;
      border-radius: 14px;
      transition: all .2s ease-in;
      transform: translateY(0);
      &:hover {
        transform: translateY(-6px);
      }
      @include mquery(medium){
        width: calc(50% - 20px);
        margin-bottom: 25px;
      }
      @include mquery(mobile){
        width: 100%;
        margin-bottom: 25px;
      }
      .smarty-sec {
        padding: 20px 25px;
        .smarty-img {
          padding-bottom: 15px;
          display: flex;
          justify-content: center;
          img {}
        }
        .smarty-bottom {
          text-align: center;
          span {
            font: 500 18px/24px $font-base;
            color: #2c2c2c;
            margin-bottom: 5px;
            display: block;
          }
          p {
            font: 14px/18px $font-base;
            color: #4D4D4F;
          }
        }
      }
    }
  }
}

// Our Happy Parents-Testimonials //
.testimonial-outer {
  background: #D1E8E2;
  padding-top: 60px;
  padding-bottom: 60px;
  .testimonials-list {
    margin: -20px -12px;
    @include mquery(mobile) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-flex-direction: row;
        flex-direction: row;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        margin: -10px;
        padding: 10px;
        width: calc(100% + 25px);
    }
    li{
        max-width: 400px;
        @include mquery(mobile) {
            min-width: 90% !important;
            width: 90% !important;
            margin-right: 16px;
        }
    }
    .slick-slide {
        padding: 20px 12px;
        height: auto;
        >div,
        li {
            height: 100%;
        }
    }
    .slick-track {
        display: flex;
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
} 

}

.testimonial-inner {
  h2 {
    text-align: center;
  }
  .testimonials-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    @include mquery(mobile){
      flex-wrap: nowrap;
    }
    li {
      width: calc(33.33% - 20px);
      margin: 0 10px;
      background: #FFFFFF;
      border-radius: 20px;
      .testimonial-sec {
        padding: 30px;
        .parent-img {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #3e4c66;
            padding: 5px;
          }
        }
        .parent-bottom {
          text-align: center;
          .parent-name {
            color: #2c2c2c;
            font: 500 20px/24px $font-base;
            padding-bottom: 10px;
          }
          p {
            font: 14px/18px $font-base;
            color: #4D4D4F;
          }
        }
      }
    }
  }
}

// Facilities at School //
.facilities-outer{
  padding-top: 60px;
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h2{
    text-align: center;
  }
  .facilities-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @include mquery(mobile){
      display: block;
    }
    li{
      width: calc(33.33% - 30px);
      margin: 15px;
      background-color: #116466;
      transition: all .3s ease-in;
      transform: translateY(0);
      @include mquery(mobile){
        width: calc(100% - 30px);
      }
      &:hover{
        transform: translateY(-4px);
      }
      .facility-img{
        img{
          width: 100%;
        }
      }
      .facilities-bottom{
        padding: 20px;
      h3{
        font-size: 18px;
        color: #fff;
        padding-bottom: 5px;
        
      }
      p{
        font: 14px/18px $font-base;
       color: #fff;
       padding-bottom: 10px;
      }
    }
  }
  }
}

// Footer //
.footer {
  padding: 50px 0;
  box-shadow: 0px -11px 20px -20px;
  @include mquery(mobile){
    padding: 30px 0;
  }
  .footer-section {
    display: flex;
    justify-content: space-between;
    @include mquery(mobile){
      display: block;
    }
    .left {
      width: 33.33%;
      padding-right: 35px;
      @include mquery(mobile){
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
      }
      .region-footer-first {
        h2{
          font-size: 20px;
          padding-bottom: 10px;
          color: #084050;;
        }
        .menu {
          margin-left: 0;
          .menu-item {
            padding-bottom: 14px;
            &:last-child{
              padding-bottom: 0;
            }
            a {
              font-size: 14px;
              color: #116466;
              line-height: 1.4;
              display: inline-flex;
              transition: all .3s ease-in;
              transform: translateX(0);
              text-decoration: none;
              &:hover {
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }

    .middle{
      width: 33.33%;
      padding-right: 35px;
      @include mquery(mobile){
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
      }
      h2{
        font-size: 20px;
        padding-bottom: 10px;
        color: #084050;
      }
      .social-footer{
        display: flex;
        align-items: center;
        .fb{
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px;
          &:hover{
              background-color: #3b5999;
          }
        }
        .insta{
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px;
          a{
              img{
                  max-width: 16px;
                  max-height: 16px;
              }
             }
          &:hover{
              background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
        }
        .twitter{
          background-color: black;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          padding: 11px;
         a{
          img{
              max-width: 16px;
              max-height: 16px;
          }
         }
      &:hover{
          background-color:  #55acee;
      }
        }
      }
    }
    .right{
      width: 33.33%;
      @include mquery(mobile){
        width: 100%;
      }
      .region-footer-second{
        h2{
          font-size: 20px;
          padding-bottom: 10px;
          color: #084050;
        }
        p{
          font-size: 14px;
          color: #116466;
        }
      }
    }
    
  }

}

// Faq (accordian) //
.faq-outer{
  padding-bottom: 60px; 
  @include mquery(mobile){
    padding-bottom: 30px;
  }
}
.faq-sec{
  > li{
        position: relative;
        margin-bottom: 16px;
        margin-left: 0;
        .faq-title{
            font-size: 16px;
            background-color: #D1E8E2;
            color: #000;
            padding: 18px 15px;
            padding-right: 40px;
            display: block;
            position: relative;
            margin: 0;
            line-height: 1.2;
            cursor: pointer;
            &.scroll-margin-top{
              scroll-margin-top: 190px;
              @include mquery(mobile){
                scroll-margin-top: 100px;
              }
            }
            &:hover{
              background-color: #D1E8E2;
              color: #116466;
            }
            &:after,&:before{
              content: "";
              position: absolute;
              right: 0;
              font-size: 10px;
              background: #2C2C2C;
              width: 14px;
              height: 2px;
              top: 50%;
              margin: -1px 18px 0 0;
            }
            &::after{
              transform: rotate(90deg);
            }
            &.active{
              background-color: #D1E8E2;
              color: #116466;
              font-weight: 700;
              
              &::after{
                display: none;
              }
            }
        }
      .faq-content{
        background-color: #F8F8F8;
        padding: 15px;
        margin: 8px 0 0 0;
        border-radius: 4px;
        display: none;

        p {
            font-size: 16px;
            color: #4D4D4F;
        }
      }
  }
}

// Contact form //
form {
  max-width: 690px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 46px #0000002b;
  padding: 40px;
  margin: 40px auto 60px auto;
  @include mquery(mobile) {
      padding: 20px;
      max-width: 300px;
      margin: 30px auto 60px auto;
      @include mquery(mobile) {
        padding: 20px;
        margin: 30px auto 60px auto;
    }
  }
  .js-form-item{
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      color: #116466;
      font-weight: 900;
    }
    .js-text-full{
      max-width: 600px;
      padding: 10px;
    }
  }
.field--name-field-name-, .field--name-field-phone-number, .field--name-field-email {
  max-width: 337px;
  width: 100%;
}
.field--name-field-query-{
  max-width: 600px;
  width: 100%;
}
.form-actions{
  margin-top: 30px;
}
.js-form-type-checkbox{
  display: block;
  .form-checkbox{
    margin-right: 5px;
  }
}

}

// course table //
.courses-outer{
  padding-top: 60px;
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-top: 30px;
    padding-bottom: 30px;
  }
 h2{
  text-align: center;
 }
}

// Read More //
.facilities-bottom > p{
  .showmore_content{
    overflow: hidden;
  }
  .showmore_trigger{
    .more,.less{
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      display: block;
      &:hover{
        color: #D1E8E2;
      }
    }
  }
}

// banner slider
.flexslider {
  border: unset!important;
  overflow: hidden;
  margin: 0!important;
  .flex-viewport {
    .slides {
      li {
        a{
          img {
            width: 100%;
            height: 550px;
            @include mquery(medium){
              height: 350px;
            }
            @include mquery(mobile){
              height: 160px;
            }
          }
        }
        p{
          display: none;
        }
      }
    }
  }
}

//content region 
.side-con{
  padding: 30px 0;
}
.node__content{
  padding-top: 15px;

.field--type-text-with-summary{
  padding-bottom: 10px;
}

.field--label-above{
  padding-bottom: 10px;
}
.field__label{
  padding-bottom: 4px;
}
}

//tabs
.tabs{
  .is-active{
    color: #116466;
  }
  li{
    background-color: #116466;
    color: #fff;
    a{
      color: #fff;
      &:hover{
        color: #116466;
      }
    }
  }
}
// for article spacing //
article.node--type-page,
article.node--type-article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

// site slogan //
.site-slogan {
  color: #fff;
}